<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <!-- This config is for local test execution. The dotnet test runner will use its own configuration. -->
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!-- Assembly-CSharp will be resolved at runtime -->
        </assemblyBinding>
    </runtime>
</configuration>